<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>Telecom</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  


  <script type="text/javascript" src="{% static 'js/searches.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/searches.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Telecom</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{% block home_active %} {% endblock %}"><a href="/">Home</a></li>
      <li class="dropdown {% block departments_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="deptDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="deptDropInp" onkeyup="searchDeptDrop();">
          </li>
          {% block deptdrop %}
          {% endblock %}
        </ul>
      </li>
      <li class="dropdown {% block designation_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Designations<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="desDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="desDropInp" onkeyup="searchDesDrop();">
          </li>
          {% block desdrop %}
          {% endblock %}
          </ul>
      </li>
    </ul>

  </div>
</nav>

{% block body %}

{% endblock %}