<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>Telecom Center</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  


  <script type="text/javascript" src="{% static 'js/searches.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/searches.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{ MEDIA_URL }}/media/img/logo.png" alt="telecom logo" height="40px" width="135px" style="margin:-10px;"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="collapse">
    <ul class="nav navbar-nav">
      <li class="{% block home_active %} {% endblock %}"><a href="/">Home</a></li>
      <li class="{% block employees_active %} {% endblock %}"><a href="/employees">All Employees</a></li>
      <li class="dropdown {% block departments_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="deptDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="deptDropInp" onkeyup="searchDeptDrop();">
          </li>
          {% block deptdrop %}
          {% endblock %}
        </ul>
      </li>

      <li class="dropdown {% block sections_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sections<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="secDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="secDropInp" onkeyup="searchSecDrop();">
          </li>
          {% block secdrop %}
          {% endblock %}
          </ul>
      </li>

      <li class="dropdown {% block center_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Centers<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="cenDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="cenDropInp" onkeyup="searchCenDrop();">
          </li>
          {% block cendrop %}
          {% endblock %}
          </ul>
      </li>

      <li class="dropdown {% block incharge_active %} {% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Incharges<span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu" id="incDropUl">
          <li>
             <input type="text" class="search" placeholder="Search.." id="incDropInp" onkeyup="searchIncDrop();">
          </li>
          {% block incdrop %}
          {% endblock %}
          </ul>
      </li>


    </ul>
    </div>

  </div>
</nav>

{% block body %}

{% endblock %}

{% include 'home/footer.html' %}