{% extends 'home/header.html' %}

{% if home_active %}
{% block home_active %}active {% endblock %}
{% endif %}

{% block deptdrop %}
	{% for dept in departments %}
	<li><a href="/department/{{dept.department_number}}">{{dept.department_short_name}}</a></li>
	{% endfor %}
{% endblock %}

{% block secdrop %}
	{% for dept in sections %}
	<li><a href="/department/{{dept.department_number}}">{{dept.department_short_name}}</a></li>
	{% endfor %}
{% endblock %}

{% block cendrop %}
	{% for dept in centers %}
	<li><a href="/department/{{dept.department_number}}">{{dept.department_short_name}}</a></li>
	{% endfor %}
{% endblock %}

{% block incdrop %}
	{% for dept in incharges %}
	<li><a href="/department/{{dept.department_number}}">{{dept.department_short_name}}</a></li>
	{% endfor %}
{% endblock %}


{% block body %}


<br><br>
<h1 align="center">Welcome To Telecom</h1>
<br><hr><br>

{% endblock %}
