.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.search{
	width:100%;
	border:1px solid black;
	border-radius:3px;
	padding:3px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   z-index:1000;
}